spring:
  application:
    name: expense-tracker

  datasource:
    url: jdbc:mysql://localhost:3306/expense_tracker
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true